.post-content {
  font-family: sans-serif;
  font-size: 16px;
}
.post-content p {
  font-size: 1rem;
}
.remark_context {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}
